:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }

*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    text-align: center;
    align-items: center;

    font-family: Cabin,Roboto,sans-serif;


}
.title{
    font-size: 1.4rem;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.control-pallete{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 20px;
    padding: 10px;
    margin-top: 10px;
}

.control-pallete>button{
    margin: 10px;
    padding : 20px;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    box-shadow: rgba(129, 114, 114, 0.56) 0px 22px 70px 4px;


}
.draw-area{
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 500px;
    width: 500px;
    cursor: pointer;

}
.color-selector{
    border-radius: 100%;
}
input{
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   
  }


  /* Code for when button is active (pressed) */

.btn.active{

    background-color: var(--primary-dark);
    color: var(--primary-light);
  }

  button:hover,
  input[type = 'color']:hover{
    transform: scale(1.05);
  }

  .grid-element{
    /* background-color: #333; */
    height: 32px;
    width: 32px; 
    
  }
  .grid-element {
    user-select: none;
  }